@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

$visual-grid: true;
$visual-grid-color: #FF0000;

// Define your breakpoints
$desktop: new-breakpoint(min-width 768px 3);
$tablet: new-breakpoint(max-width 768px 5);
