@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "moboto";
//@import "sassyseeds/sassyseeds";

@import url(//fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Amatic+SC:400,700);

$light-blue: #00AEEF;
$medium-blue: #0072BC;
$dark-blue: #2E3092;

$medium-orange: rgb(247, 230, 37);
$dark-orange: #F7B625;

$medium-grey: rgb(165, 165, 165);

$neutral-bg-color: $medium-grey;
$contrast-bg-color: #F1B83C;
$neutral-text-color: $dark-blue;
$accent-text-color: $light-blue;
$link-color: $neutral-text-color;
$link-hover-color: $accent-text-color;

body.index {
  section { @include outer-container; }
  font-family: 'Oxygen', sans-serif;

  a, a:visited, a:active {
    color: $link-color;
    text-decoration: none;
  }
  a:hover {  color: $link-hover-color;  }

  padding-top: 100px;

  header {
    top:0px;
    width: 100%;
  }

  top-bar {
    display: block;
    background-color: $neutral-bg-color;
    background-size: cover;
    @include shadow;

    .logo img {
      padding: em(15) 0 em(15) em(15);
      width: em(300);
    }

    .info {
      color: $neutral-text-color;
      font-size: em(15);
      line-height: em(20);
      font-weight: 700;
    }
  }


  div.wide-img {
    min-height: em(450);
    background: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }


  section#all-content {
    background: $neutral-bg-color;
    h1.title {
      background: $contrast-bg-color;
      @include shadow;
    }
  }
}


@include media($mobile) {
  body.index header { position: absolute; }
  section.desktop { display: none;}
  .desktop { display: none;}

  section#top-bar {

    div.logo{
      @include span-columns(1);
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    div.info {
      @include span-columns(1);
      text-align: center;
      padding: 0 0 em(15) em(15);
    }
  }

  section#all-content {
    .content {  display: none;  }
    h3 {  @include span-columns(1);  }
    div {  @include span-columns(1);  }
    h1.title {  margin: 15px 0 0 0;  }
  }
}

@include media($desktop) {
  header { position:fixed; }
  .mobile { display: none;}

  section#top-bar {
    div.logo{
      @include span-columns(6);
      img { display: inline; }
    }

    div.info {
      @include span-columns(6);
      text-align: right;
      padding: em(20) em(15) 0 0;
    }
  }

  section#all-content {
    a.anchor { @include nav_placement(-127px); }

    h1.title.desktop {
      @include span-columns(3);
    }

    div.content {
      @include span-columns(9);
      @include omega();
      display:block !important;
    }
  }

  nav-bar {
    display: block;
    background-color: $contrast-bg-color;
    background-size: cover;
    @include shadow;
  }
  section#navigation {
    font-family: 'Josefin Slab', serif;
    color: rgb(189, 139, 19);
    line-height: em(35);
    font-weight: 600;
    text-align: center;
    background-color: $contrast-bg-color;
    background-size: cover;
  }
}

