<div class="content">

  <h1>The Center for Social Innovation</h1>
  <h2>CSI Regent Park, 585 Dundas Street East</h2>
  <p>The Center for Social Innovation (CSI) occupies 10,000 square feet on the 3rd floor of the new Daniels Spectrum building.</p>
  <p>Using CSI Regent Park is important to MoBoTo as it supports a developing neighborhood and a non-profit Toronto born firm leading in Social 
  Innovation, in a sustainably built building.</p>

  <h1>The Delta Chelsea</h1>
  <h2>33 Gerrard Street West</h2>
  <p>The Delta Chelsea is located less than 800 meters from CSI and has a Green Key 4 rating.</p>
  <p>We have a special rate of 129.00 Cdn, which includes wireless internet and use of the health and recreational facilities.
     Call 800-243-5732 for reservations.</p>

  <h1>Transportation</h1>
  <p>There is a Bixibike and Toronto Transit Commission (TTC) College station subway stop nearby.</p> 
</div>

