<div class="content">
  <h1>Friday Kickoff</h1>

  <h2>6:30 pm Registration, Dinner & Networking</h2>
  <p>Event participants will assigned to team based on their skill sets, so each team has a variety of multi-disciplinary 
  skills.</p>

  <h2>7:00 pm Speakers</h2>
  <p>Welcome and Speakers start during dinner. A brief walk through of the event’s agenda. Q & A. </p>

  <h2>8:00 pm Mobile Movie Screening</h2>
  <p>Previous to hosting the event, we will have a few sessions with Toronto Community Foundation participants to create 
  their movies for this screening.</p>


  <h1>Saturday</h1>

  <h2>9:00 am Breakfast</h2>

  <h2>9:30 am Teams Organize</h2>
  <p>Each team sets up workspace for the weekend:
  Team introductions and briefing.
  Determine Team Roles.
  Interview Mobile Movie Maker team participant about movie making challenges 
  Start concepting.</p>

  <h2>12:00 am Lunch</h2>
  <p>Continue concepting.</p>

  <h2>5:30 pm Pitch concept</h2>
  <p>Each team prepares to pitch concept. Audience gives feedback on what what resonates well.<p>

  <h2>6:30 pm Dinner</h2>
  <p>Speaker, and rehash of day.</p>


  <h1>Sunday</h1>

  <h2>9:00 am Breakfast</h2>
  <h2>9:30 am Teams Continue</h2>

  <p>Interaction design mockups.  User testing.  Iterative design</p>
  <h2>12:00 pm Lunch</h2>
  <p>Prepare Minimal Viable Product for presentation.</p>

  <h2>4:00 pm Final Presentations</h2>
  <p>Final Presentations.</p>

  <h2>6:00 pm Dinner</h2>
  <p>Speaker, Judging & Awards. Wrap up.</p>

</div>

