<div class="content">
  <h1>ThoughtWorks</h1>
  <p>ThoughtWorks works with people and organizations who have ambitious missions - whether they are in the 
  commercial, social or government sectors. We are experts in designing and delivering software and believe in the 
  power of software and technology as tools for social change. Our select clients include Siemens, Nokia, UNICEF, 
  and Democracy Now!</p>

  <h1>TCF</h1>
  <p>TCF monitors the quality of life in Toronto, identifying its strengths and weaknesses through Toronto’s Vital Signs® 
  report. TCF provides the leadership and guidance to bring people together from all parts of our community.</p>

  <h2>TIFF</h2>
  <p>http://tiff.net/</p>

  <h2>Apple Canada</h2>
  <p>http://www.apple.com/ca/contact/</p>

  <h2>Nokia</h2> 
  <p>http://conversations.nokia.com/2013/03/11/5-mobile-movie-festivals-making-waves/</p>

  <h2>Bullfrog</h2>
  <p>http://www.bullfrogpower.com/</p>

  <h2>Mountain Equipment Co.</h2>
  <p>http://www.mec.ca</p>

  <h2>Toronto Community Foundation</h2>
  <p>www.tcf.ca</p>

  <h2>Winkreative</h2>
  <p>http://www.winkreative.com/</p>

  <p>http://www.toronto2015.org/</p>

</div>

