<header>
  <section class="header">
    <div class="logo"><img src="./images/moboto.png" /></div>
    <div class="info">mobile bonding toronto</br>Jun 24-25, 2013</div>
  </section>
</header>

<section class="nav">
  <a href="#">about</a> | <a href="#">schedule</a> | <a href="#">sponsors</a> | <a href="#">register</a>
</section>

<div class="wide_img">
</div>

<section class="content">
  <div class="quote">moboto is the event for community mobile connection in toronto</div>
</section>
