<header>
  <section class="header">
    <div class="logo"><img src="./images/moboto.png" /></div>
    <div class="info">CSI REGENT PARK, TORONTO<br/>JUNE 21-23, 2013</div>
  </section>
</header>
<div class="wide_img"></div>

<nav>
  <section class="nav">
    <a href="#">schedule</a> | <a href="#">sponsors</a> | <a href="#">register</a> | <a href="#">location</a>
  </section>
</nav>

<section>
  <div id="accordion" class="nav">
      <h3>SCHEDULE</h3>
      <div class = "schedule">Cupcake ipsum dolor sit amet. Wypas lollipop pie. Donut pie wypas caramels halvah.
        Lollipop croissant I love croissant lollipop oat cake cookie ice cream candy canes. Donut gummies croissant gingerbread fruitcake wafer lollipop. I love toffee marzipan toffee applicake faworki caramels gummies bear claw. Lollipop carrot cake cheesecake croissant bonbon jelly dessert.
        Chocolate bar apple pie soufflé halvah pie lemon drops sweet biscuit cookie. I love tootsie roll lemon drops gummies faworki fruitcake I love. Dragée cake chocolate cake cupcake cotton candy I love.
        Tootsie roll sesame snaps tiramisu chocolate bar I love cupcake. Chocolate wypas jelly beans jelly. Cupcake I love caramels sugar plum biscuit gummies bear claw apple pie gummi bears. I love gummi bears apple pie muffin sweet.
        Cookie marzipan I love donut liquorice ice cream. Jujubes sugar plum donut biscuit lollipop cotton candy danish. I love carrot cake cookie I love gingerbread lemon drops candy canes brownie jelly.</div>
    <h3>SPONSORS</h3>
    <div class = "sponsors">Cupcake ipsum dolor sit amet. Wypas lollipop pie. Donut pie wypas caramels halvah.
      Lollipop croissant I love croissant lollipop oat cake cookie ice cream candy canes. Donut gummies croissant gingerbread fruitcake wafer lollipop. I love toffee marzipan toffee applicake faworki caramels gummies bear claw. Lollipop carrot cake cheesecake croissant bonbon jelly dessert.
      Chocolate bar apple pie soufflé halvah pie lemon drops sweet biscuit cookie. I love tootsie roll lemon drops gummies faworki fruitcake I love. Dragée cake chocolate cake cupcake cotton candy I love.
      Tootsie roll sesame snaps tiramisu chocolate bar I love cupcake. Chocolate wypas jelly beans jelly. Cupcake I love caramels sugar plum biscuit gummies bear claw apple pie gummi bears. I love gummi bears apple pie muffin sweet.
      Cookie marzipan I love donut liquorice ice cream. Jujubes sugar plum donut biscuit lollipop cotton candy danish. I love carrot cake cookie I love gingerbread lemon drops candy canes brownie jelly.</div>

    <h3>REGISTER</h3>
    <div class = "register">Cupcake ipsum dolor sit amet. Wypas lollipop pie. Donut pie wypas caramels halvah.
      Lollipop croissant I love croissant lollipop oat cake cookie ice cream candy canes. Donut gummies croissant gingerbread fruitcake wafer lollipop. I love toffee marzipan toffee applicake faworki caramels gummies bear claw. Lollipop carrot cake cheesecake croissant bonbon jelly dessert.
      Chocolate bar apple pie soufflé halvah pie lemon drops sweet biscuit cookie. I love tootsie roll lemon drops gummies faworki fruitcake I love. Dragée cake chocolate cake cupcake cotton candy I love.
      Tootsie roll sesame snaps tiramisu chocolate bar I love cupcake. Chocolate wypas jelly beans jelly. Cupcake I love caramels sugar plum biscuit gummies bear claw apple pie gummi bears. I love gummi bears apple pie muffin sweet.
      Cookie marzipan I love donut liquorice ice cream. Jujubes sugar plum donut biscuit lollipop cotton candy danish. I love carrot cake cookie I love gingerbread lemon drops candy canes brownie jelly.</div>

    <h3>LOCATION</h3>
    <div class = "location">Cupcake ipsum dolor sit amet. Wypas lollipop pie. Donut pie wypas caramels halvah.
      Lollipop croissant I love croissant lollipop oat cake cookie ice cream candy canes. Donut gummies croissant gingerbread fruitcake wafer lollipop. I love toffee marzipan toffee applicake faworki caramels gummies bear claw. Lollipop carrot cake cheesecake croissant bonbon jelly dessert.
      Chocolate bar apple pie soufflé halvah pie lemon drops sweet biscuit cookie. I love tootsie roll lemon drops gummies faworki fruitcake I love. Dragée cake chocolate cake cupcake cotton candy I love.
      Tootsie roll sesame snaps tiramisu chocolate bar I love cupcake. Chocolate wypas jelly beans jelly. Cupcake I love caramels sugar plum biscuit gummies bear claw apple pie gummi bears. I love gummi bears apple pie muffin sweet.
      Cookie marzipan I love donut liquorice ice cream. Jujubes sugar plum donut biscuit lollipop cotton candy danish. I love carrot cake cookie I love gingerbread lemon drops candy canes brownie jelly.</div>

  </div>
</section>

<section>
  Keep in touch
  Tweets
  Email
</section>




<script>
//$( "#accordion" ).accordion({ heightStyle: "content", collapsible: true });
</script>


