<section class="header">
    <div class="logo"><img src="../images/moboto.png" /></div>
    <div class="info">mobile bonding toronto </br> Jun 24-25, 2013</div>
</section>

<section class="nav">
  <a href="#">about</a> | <a href="#">schedule</a> | <a href="#">sponsors</a> | <a href="#">register</a>
</section>

<section class="content">
  <img src="../images/bikes.jpg" />
  Moboto is the event for community mobile connection in Toronto
</section>
